<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--     GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row mt-5 how-works">
    
          <!-- CARD 1 -->
          <div class="col-sm card-s2">
            <div class="card mt-4" style="width: 16rem; border-style: none;">
              <img class="card-img-top" src="assets/Illustrations/home_1.png" alt="">
            </div>
            <div class="card-body">
              <p class="card-text">Use a barra de pesquisa para escolher o serviço que
                precisa no momento! Forneceremos uma lista de prestadores que estão pertinho!
              </p>
            </div>
          </div>
    
          <!-- CARD 2 -->
          <div class="col-sm card-s2">
            <div class="card mt-4" style="width: 16rem; border-style: none;">
              <img class="card-img-top" src="assets/Illustrations/home_2.png" alt="">
            </div>
            <div class="card-body">
              <p class="card-text">Selecione o prestador de interesse, verifique seu perfil e abra
                solicitação de orçamento clicando em contratar!</p>
            </div>
          </div>
    
          <!-- CARD 3 -->
          <div class="col-sm card-s2">
            <div class="card mt-4" style="width: 16rem; border-style: none;">
              <img class="card-img-top" src="assets/Illustrations/home_3.png" alt="">
            </div>
            <div class="card-body">
              <p class="card-text">Receba o orçamento do prestador e prossiga com a sua negociação.
                Você pode ESCOLHER ter seu serviço online ou presencialmente!</p>
            </div>
          </div>
    
        </div>
      </div>

    <!-- FONT AWESOME -->
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
        integrity="sha384-ujbKXb9V3HdK7jcWL6kHL1c+2Lj4MR4Gkjl7UtwpSHg/ClpViddK9TI7yU53frPN"
        crossorigin="anonymous"></script>


    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>