<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--     GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light" id="menu-site">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="assets/Elements/perfil-fundo.jpg" width="40" height="40"
              class="d-inline-block align-top justify-content-lg-center" alt=""></a>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse m-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto menu-align" id="navbar">
              <li class="nav-item">
                <a class="nav-link ml-3" id="menu-font" href="#">COMO FUNCIONA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ml-3" id="menu-font" href="#">ENTRAR</a>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-lg ml-3" id="contractor-btn"><a href="">Sou
                    Prestador</a></button>
              </li>
            </ul>
          </div>
        </div>
      
      </nav>

    <!-- FONT AWESOME -->
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
        integrity="sha384-ujbKXb9V3HdK7jcWL6kHL1c+2Lj4MR4Gkjl7UtwpSHg/ClpViddK9TI7yU53frPN"
        crossorigin="anonymous"></script>


    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>