* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-size: 100vw 100vh;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container-background {
  background:
    url("../assets/Illustrations/FUNDO_HOME.png"), url("../assets/Elements/elemento_azul.png"),
    url("../assets/Elements/elemento_laranja-crop.png");

  background-repeat: no-repeat;

  background-size:
    1628px, 435.73px 1384.54px, 434.6px 947.28px;

  background-position:
    center, bottom left, top right;

  border: 2px solid black;
  height: max-content;

  height: 1232px;
}

.menu {
  /* width: 100vw; position: fixed; box-shadow: rgb(238, 238, 238) 2px 2px 3px; */
  padding: 3% 4%;
  padding-right: 10%;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #70707031;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 29px;
  width: 31px;
}

nav a {
  color: #707070;
}

h1 {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #305e92;
}

h2 {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #305e92;
}

h3 {
  font-size: 36px;
  width: 60vw;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: #707070;
}

.main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.main-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5%;
}

input {
  width: 50vw;
  height: 5vh;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-right: 2%;
}

.btn-buscar {
  border-style: none;
  background-color: #fc4638;
  border-radius: 43px;
  width: 6vw;
  height: 5vh;
}

.btn-buscar a {
  color: white;
  font-size: 15px;
}

/* SECTION 2 */


.second {
    margin-top: 15%;
}

.process-card p {
  font-family: "Titillium Web", sans-serif;
  color: #707070;
  font-size: 32px;
}

.process-card {
  width: 450px;
  padding: 25px;
}

.process {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

