/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 100vh;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}




.container-background {
  background:
    url("../assets/Illustrations/FUNDO_HOME.png"),
    url("../assets/Elements/elemento_azul.png"),
    url("../assets/Elements/elemento_laranja-crop.png");

  background-repeat: no-repeat;
  background-size:
    1920px, 435.73px 1384.54px, 434.6px 947.28px;

  background-position:
   0 500px , 0 230px, top right;

  border: 2px solid black;
}

.menu {
  /* width: 100vw; position: fixed; box-shadow: rgb(238, 238, 238) 2px 2px 3px; */
  padding: 3% 4%;
  padding-right: 10%;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #70707031;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 29px;
  width: 31px;
}


nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

nav a {
  color: #707070;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.contractor-btn {
  border-style: none;
  border-radius: 55px;
  width: 296px;
  height: 80px;
  background-color: #FC4638;

}


.contractor-btn a {
  color: white;
  font-size: 29px;
}

h1 {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #305e92;
}

h2 {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #305e92;
}

h3 {
  font-size: 36px;
  width: 60vw;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  color: #707070;
}

.main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.main-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5%;
}

input {
  width: 50vw;
  height: 5vh;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-right: 2%;
}

.btn-buscar {
  border-style: none;
  background-color: #fc4638;
  border-radius: 43px;
  width: 6vw;
  height: 5vh;
}

.btn-buscar a {
  color: white;
  font-size: 15px;
}




/* SECTION 2 */
.second {
    margin-top: 35%;
}

.process {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.process-card {
  width: 400px;
  margin: 3%;
}

.process-card p {
  font-family: "Titillium Web", sans-serif;
  color: #707070;
  font-size: 32px;
}


/* GALLERY */

/* .carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 400px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 200px;
  }
} */


.main-carousel {
  display: flex;
  flex-wrap: wrap;

}

.carousel-cel {
  margin-left: 0.5%;
}

/* AVALIATIONS */

.avaliations {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

.avaliations-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.card {
  width: 744px;
  height: 424px;
  box-shadow: 0px 10px 6px #00000024;
  border: 2px solid #707070;
  border-radius: 26px;
  padding: 3% 3%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.card-img img {
  border-radius: 50%;
  width: 350px;
}

.card p {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  font-size: 40px;
  padding-left: 2%;
}





/* JOIN US PART */

.join {
  display: flex;
  padding: 5% 5%;
}

.join-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.join-content h2, p {
  color: #8B8A8A;
}

.join-content h2 {
  letter-spacing: -0.51px;
}

.join-content p {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  font-size: 48px;
  width: 70%;
  text-align: center;
  margin-top: 5%;
}

.join-content a {
  color: white;
  font-size: 40px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

.join-btn {
  border-style: none;
  border-radius: 55px;
  width: 544px;
  height: 104px;
  background-color: #FC4638;
  margin-top: 5%;
}



/* FOOTER */
footer {
  background-color: #FAFAFA;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  font-size: 40px;
}








/* MEDIAS */

/*@media (max-width: 1600px)

{
  h1 {font-size: 52px;}
  h2 {font-size: 52px;}
  h3 {font-size: 30px; width: 65vw;}

  .main-display {
    margin-top: 6%;
  }

}

 @media (max-width: 1320px)

{
  h1 {font-size: 48px;}
  h2 {font-size: 48px;}
  h3 {font-size: 24px; width: 65vw;}
}


@media (max-width: 1024px)

{
  h1 {font-size: 48px;}
  h2 {font-size: 48px;}
  h3 {font-size: 24px; width: 65vw;}
}

@media (max-width: 768px) {

  h1 {font-size: 35px;}
  h2 {font-size: 35px;}
  h3 {font-size: 23px; width: 70vw;}

}


@media (max-width: 414px) {


  h1 {font-size: 22px;}
  h2 {font-size: 24;}
  h3 {font-size: 14px; width: 60vw;}


  .menu {

    padding: 3% 4%;
    padding-right: 10%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #70707031;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 29px;
    width: 31px;
  }

  nav a {
    color: #707070;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
  }

  .container {
    background:
    url("src/assets/Illustrations/FUNDO_HOME.png"),
    url("src/assets/Elements/elemento_azul.png"),
    url("src/assets/Elements/elemento_laranja-crop.png");
    background-repeat: no-repeat;
    background-size: 200px, 169.26px 537.84px, 213.61px 465.61px;
    background-position: 0 200px, center left, top right;

  }
nav {

    }

    nav a {

      font-size: 15px;
    }

    .contractor-btn {
      border-style: none;
      border-radius: 55px;
      width: 296px;
      height: 80px;
      background-color: #FC4638;

    }


  } */



