<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--     GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>


    <div class="container">

        <!-- CAROUSEL WEB -->
        <div id="carouselControls" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
          <div class="carousel-inner">
            <!-- SLIDER 1 -->
            <div class="carousel-item active">
              <div class="row justify-content-center">
                <div class="col-3"><img class="d-block w-100" src="assets/images/foto1.png" alt=""></div>
                <div class="col-3"><img class="d-block w-100" src="assets/images/foto2.png" alt=""></div>
                <div class="col-3"><img class="d-block w-100" src="assets/images/foto3.png" alt=""></div>
              </div>
            </div>
            <!-- END OF SLIDER 1 -->
            <!-- SLIDER 2 -->
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-3"><img class="d-block w-100" src="assets/images/foto4.png" alt=""></div>
                <div class="col-3"><img class="d-block w-100" src="assets/images/foto5.png" alt=""></div>
                <div class="col-3"><img class="d-block w-100" src="assets/images/foto6.png" alt=""></div>
              </div>
            </div>
            <!-- END OF SLIDER 2 -->
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
              <span class="fas fa-chevron-circle-left fa-lg" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
              <span class="fas fa-chevron-circle-right fa-lg" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
        </div>
        <!-- END OF CAROUSEL WEB -->
      
        <!-- CAROUSEL SM  -->
          <div id="carouselControls" class="carousel slide d-none d-sm-block d-md-none" data-ride="carousel">
            <div class="carousel-inner">
              <!-- SLIDER 1 -->
              <div class="carousel-item active">
                <div class="row justify-content-center">
                  <div class="col-5"><img class="d-block w-100" src="assets/images/foto1.png" alt=""></div>
                  <div class="col-5"><img class="d-block w-100" src="assets/images/foto2.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 2 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-5"><img class="d-block w-100" src="assets/images/foto3.png" alt=""></div>
                  <div class="col-5"><img class="d-block w-100" src="assets/images/foto4.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 3 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-5"><img class="d-block w-100" src="assets/images/foto5.png" alt=""></div>
                  <div class="col-5"><img class="d-block w-100" src="assets/images/foto6.png" alt=""></div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
              </a>
            </div>
          </div>
        <!-- END OF CAROUSEL SM -->
      
        <!-- CAROUSEL XS  -->
          <div id="carouselControls" class="carousel slide d-block d-sm-none" data-ride="carousel">
            <div class="carousel-inner">
              <!-- SLIDER 1 -->
              <div class="carousel-item active">
                <div class="row justify-content-center">
                  <div class="col-9"><img class="d-block w-100" src="assets/images/foto1.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 2 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-9"><img class="d-block w-100" src="assets/images/foto2.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 3 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-9"><img class="d-block w-100" src="assets/images/foto3.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 4 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-9"><img class="d-block w-100" src="assets/images/foto4.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 5 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-9"><img class="d-block w-100" src="assets/images/foto5.png" alt=""></div>
                </div>
              </div>
              <!-- SLIDER 6 -->
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-9"><img class="d-block w-100" src="assets/images/foto6.png" alt=""></div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
              </a>
            </div>
          </div>
      
        <!-- END OF CAROUSEL XS -->
      </div>
























    <!-- FONT AWESOME -->
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
        integrity="sha384-ujbKXb9V3HdK7jcWL6kHL1c+2Lj4MR4Gkjl7UtwpSHg/ClpViddK9TI7yU53frPN"
        crossorigin="anonymous"></script>


    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>